
@import url('https://fonts.googleapis.com/css2?family=DM+Sans:opsz,wght@9..40,700&family=Inter:wght@100;200;300;400;500;600;700;800;900&display=swap');

*{
    margin: 0px;
    padding: 0px;
    box-sizing: border-box;
}

body{
    
    .wrapper{
        display: grid;
        height: 100vh;
        grid-template-columns: 1fr;
        grid-template-rows: auto, 1fr, auto;
    }
    .buttonyellow{
        background-color: #F9D783;
        color: #191919;
        text-decoration: none;
        padding: 11px 30px;
        border-radius: 30px;
        font-size: 16px;
        font-weight: 600;
        transition: all 0.3s;
        
        &:hover{
            background-color: #2b2b2b;
            color: #F0EFE9;
        }

        i{
            margin-left: 5px;
            font-size: 0.9em;
        }
    }
    .buttonblack{
        background-color: #000000;
        color: #ffffff;
        text-decoration: none;
        padding: 11px 30px;
        border-radius: 30px;
        font-size: 16px;
        font-weight: 600;
        transition: all 0.3s;

        &:hover{
            background-color: #2b2b2b;
            color: #F0EFE9;
        }

        i{
            margin-left: 5px;
            font-size: 0.9em;
        }
    }
    .buttonhover{
        background-color: transparent;
        color: #191919;
        text-decoration: none;
        padding: 11px 30px;
        border-radius: 30px;
        font-size: 16px;
        font-weight: 600;
        border: none;
        transition: all 0.3s;

        &:hover{
            border: 1px solid #191919;
        }
        i{
            margin-right: 5px;
            font-size: 0.9em;
        }
    }
    .buttontrans{
        background-color: transparent;
        color: #191919;
        text-decoration: none;
        padding: 11px 30px;
        border-radius: 30px;
        font-size: 16px;
        font-weight: 600;
        border: 1px solid #191919;
        transition: all 0.3s;
        &:hover{
            background-color: #2b2b2b;
            color: #F0EFE9;
        }
        i{
            margin-right: 5px;
            font-size: 0.9em;
        }
    }
    .arrow-btn{
        text-align: end;
        padding-top: 5px;
        a{
            text-decoration: none;
            color: #ffffff;
        }
    }
    .circle-icon{
        background: #000000;
        width: 40px;
        height: 40px;
        border-radius: 50%;
        text-align: center;
        line-height: 40px;
        vertical-align: middle;
        transition: all 0.3s;
        &:hover{
            color: #000000;
            background: #FFFFFF;
        }
    }
    .icon-border{
        background: none;
        border: 1px solid #000000;
        width: 50px;
        height: 50px;
        border-radius: 50%;
        text-align: center;
        line-height: 50px;
        vertical-align: middle;
        color: #000000;
        font-size: 10px;
        transition: all 0.5s;

        &:hover{
            background-color: #000000;
            color: #FFFFFF;
        }

    }
    #red{
        color: #F94D1C;
        font-family: 'Inter', sans-serif;
        font-size: 18px;
        font-weight: 500; 
    } 
    #title{
        font-family: 'DM Sans', sans-serif;
        font-size: 45px;
        font-weight: 700;
        padding-bottom: 20px;

        @media (min-width:768px) {
            font-size: 35px;
            }
    }
    .btn-animation-div{
        display: inline-block;
        a{
            text-decoration: none;
        }
    }
    .buttonyellow-animation{
        a{
            position: relative;
            display: flex;
            justify-content: center;
            align-items: center;
            background: #F9D783;
            font-family: 'Inter', sans-serif;
            font-weight: 600;
            box-shadow: 0px 6px 24px 0px rgba(0, 0, 0, 0.2);
            overflow: hidden;
            border-radius: 40px;
            border: none;
           }
           
           a:after {
            content: " ";
            width: 0%;
            height: 100%;
            background: #2b2b2b;
            position: absolute;
            transition: all 0.4s ease-in-out;
            right: 0;
           }
           
           a:hover::after {
            right: auto;
            left: 0;
            width: 100%;
           }
           
           a span {
            text-align: center;
            text-decoration: none;
            width: 100%;
            padding: 11px 30px;
            color: #191919;
            font-size: 1.125em;
            font-weight: 400;
            z-index: 20;
            transition: all 0.3s ease-in-out;
           }
           
           a:hover span {
            color: #F0EFE9;
            animation: scaleUp 0.3s ease-in-out;
           }
           
           
           
    }
    .buttontrans-animation{
        a{
            position: relative;
            display: flex;
            justify-content: center;
            align-items: center;
            background: transparent;
            font-family: 'Inter', sans-serif;
            font-weight: 600;
            // box-shadow: 0px 6px 24px 0px rgba(0, 0, 0, 0.2);
            overflow: hidden;
            border-radius: 40px;
            border: 1px solid #191919;
           }
           
           a:after {
            content: " ";
            width: 0%;
            height: 100%;
            background: #2b2b2b;
            position: absolute;
            transition: all 0.4s ease-in-out;
            right: 0;
           }
           
           a:hover::after {
            right: auto;
            left: 0;
            width: 100%;
           }
           
           a span {
            text-align: center;
            text-decoration: none;
            width: 100%;
            padding: 11px 30px;
            color: #191919;
            font-size: 1.125em;
            font-weight: 400;
            z-index: 20;
            transition: all 0.3s ease-in-out;
           }
           
           a:hover span {
            color: #F0EFE9;
            animation: scaleUp 0.3s ease-in-out;
           }
           
           
           
    }
    .buttonblack-animation{
        a{
            position: relative;
            display: flex;
            justify-content: center;
            align-items: center;
            background: #000000;
            font-family: 'Inter', sans-serif;
            font-weight: 600;
            box-shadow: 0px 6px 24px 0px rgba(0, 0, 0, 0.2);
            overflow: hidden;
            border-radius: 40px;
            border: none;
           }
           
           a:after {
            content: " ";
            width: 0%;
            height: 100%;
            background: #2b2b2b;
            position: absolute;
            transition: all 0.4s ease-in-out;
            right: 0;
           }
           
           a:hover::after {
            right: auto;
            left: 0;
            width: 100%;
           }
           
           a span {
            text-align: center;
            text-decoration: none;
            width: 100%;
            padding: 5px;
            color: #ffffff;
            font-size: 1.125em;
            font-weight: 400;
            z-index: 20;
            transition: all 0.3s ease-in-out;
           }
           
           a:hover span {
            color: #F0EFE9;
            animation: scaleUp 0.3s ease-in-out;
           }
           
           
           
    }


}
header {
    background-color: #F0EFE9;
    padding: 16px;
    font-family: 'Inter', sans-serif;

    
    .container {
        display: flex;
        align-items: center;
        justify-content: space-around;
        gap: 76px;

            
        }
        .menu-bars {
            border: none;
            font-size: 30px;
            background-color: transparent;

            @media (min-width:992px) {
                display: none;
            }  
        }

        .menu {
            display: none;
            flex: 1;
            
            @media (min-width:992px) {
                display: block;
            } 

            .top-menu {
                display: flex;
                justify-content: flex-end;
                align-items: center;
                border-bottom: 1px solid #DAD9D3;
                padding-bottom: 10px;
                font-family: 'Inter', sans-serif;
                @media (min-width:1200px) {
                    justify-content: space-between;
                    
                }

                .contact-information {
                    display: none;
                    justify-content: center;
                    @media (min-width:1200px) {
                        display: flex;
                        
                    }
                    
                    .content-box {
                        font-weight: 300;
                        font-size: 15px;
                        padding-right: 20px;
                        margin-right: 20px;
                        border-right: 1px solid #DAD9D3;
                        
                        i{
                            margin-right: 5px;
                            font-size: 1.25em ;
                        }   
                    
                        &.last {
                            border: none;
                        }
                    }
                }
                .social {
                    a{
                        color: #000000;
                        margin-left: 15px;
                        font-size: 20px;
                    }
                }
            }
            .main-menu{
                display: flex;
                justify-content: space-between;
                align-items: center;
                padding-top: 10px;


                nav{
                    a{
                        display: inline-block;
                        text-decoration: none;
                        color: #191919;
                        margin-right: 37px;
                        position: relative;
                        &.active{
                            font-weight: 500;
                        }

                        &.active::after,
                        &:hover::after {
                            content: "";
                            position: absolute;
                            font-weight: 500;
                            height: 2px;
                            width: 15px;
                            background-color: #191919;
                            left: 50%;
                            bottom: -3px;
                            transform: translate((calc(50% - 15px)));
                        }
                    }
                }
            }
        }  
    }

.Hero{
    background-color: #F0EFE9;
    position: relative;
    z-index: 0;
    .drawing-lines{
        position: absolute;
        bottom: 0;
        z-index: -1;
    }

    .container{
        display: flex;
        justify-content: space-between;
        align-items: center;
        padding-top: 20px;

        img{
            margin-right: -50px;
            display: none;
            
            @media (min-width:1200px) {
                display: block;
            } 
        }
    

        .content{
            padding: 60px 80px;
            text-align: center;
            @media (min-width:1200px) {
                text-align: start;
                padding: 60px 0px;
            }

            h1{
                font-weight: 700;
                font-family:'DM Sans', sans-serif;
                font-size: 50px;
                padding-left: 5px;
                padding-right: 5px;

                @media (min-width:532px) {
                    font-size: 60px;
                    text-align: unset; 
                    padding-left: 10px;
                    padding-right: 10px;
                    }
                @media (min-width:576px) {
                    font-size: 70px;
                    text-align: unset; 
                    padding-left: 0px;
                    padding-right: 0px;
                    }
                @media (min-width:1400px) {
                    font-size: 86px;
                    text-align: unset;
                    padding-left: 0px;
                    padding-right: 0px;
                    }
            }
            p{ 
                font-family: 'Inter', sans-serif; 
                font-weight: 400; 
                font-size: 15px; 
                padding-top: 20px;
                padding-bottom: 30px;
                padding-left: 5px;
                padding-right: 5px;

                @media (min-width:532px) {
                    font-size: 15px;
                    text-align: unset; 
                    padding-left: 10px;
                    padding-right: 10px;
                    }
                @media (min-width:576px) {
                    font-size: 20px;
                    text-align: unset;
                    padding-left: 0px;
                    padding-right: 0px;
                    }
            }
            a{  
                margin-right: 5px;
            }
        }
    }
}
.company{
    background-color: #FFFFFF;
    .container{ 
        padding-top: 50px;
        padding-bottom: 50px;
        column-gap: 69px;
        display: grid; 
        grid-template-columns: repeat(2,1fr);
        grid-template-rows: repeat(3,1fr);
        justify-items: center;
        align-items: center;

        
        @media (min-width:768px) {
            padding-top: 50px;
            grid-template-columns: repeat(3,1fr);
            grid-template-rows: repeat(2,1fr); 
        }

        @media (min-width:1200px) { 
            padding-top: 100px;
            grid-template-columns: repeat(5,1fr); 
            grid-template-rows: 1fr; 
        } 

        img{
            margin: 20px;

            @media (min-width:768px) {
                margin: 15px;
            }

            @media (min-width:1024px) {
                margin: 20px;
            }
            @media (min-width:1200px) {
                margin-top: 0;
                margin-bottom: 0;
            }
        } 
    }
}
.features{
    background-color: #ffffff;
    .container{
        display: grid;
        grid-template-columns: 1fr;
        border: 1px solid #DAD9D3;
        padding: 0px 50px;
        padding-top: 50px;
        justify-content: center;
        text-align: center;
        max-width: 1520px;
        padding-bottom: 100px;
        
        @media (min-width:1200px) {
            justify-content: start;
            text-align: start;
            grid-template-columns: 1fr 2fr;
            }

        .features-right{

            display: flex;
            flex-direction: column;
            padding-top: 55px;
            p{
                color: #F94D1C;
                font-family: 'Inter', sans-serif;
                font-size: 18px;
                font-weight: 500;
                padding-bottom: 10px;
            }
            h2{
                font-family: 'DM Sans', sans-serif;
                font-size: 45px;
                font-weight: 700;
                padding: 0px 50px;
                padding-bottom: 20px;

                @media (min-width:1200px) {
                    padding: 0px;
                    }
            }
            a{
                margin-top: 25px;
            } 
            .btn-animation-div{
                width: 100%;
                padding: 0px 80px;
                @media (min-width:1200px) {
                    padding: 0px;
                    }

            }

        }

        .features-left{
            padding-left: 100px;
            display: none;
            justify-content: center;
            align-items: center;
            grid-template-columns: 1fr 1fr;
            grid-template-rows: 1fr 1fr;
            i{
                font-size: 25px;
                text-align: center;
            }
            p{
                font-size: 16px;
                font-family: 'Inter', sans-serif;
                font-weight: 400;
                padding-top: 10px;
                max-width: 227px;
            }
            h2{
                font-size: 22px;
                font-family: 'DM Sans', sans-serif;
                font-weight: 700;
                padding-top: 10px;
            }

            @media (min-width:1440px) {
                display: grid;
            }
        }

    }
}
.about-company{
    margin-top: 100px;
    margin-bottom: 100px;
    .container{
        display: flex;
        grid-template-columns: 1fr 1fr;
        position: relative;
        @media (min-width:1200px) {
            display: grid;
            }
        .left-side-about{
            display: none;
            @media (min-width:1200px) {
                display: block;
                }
        }
        .samantha{
            position: absolute;
            background-color: #BEEBFF;
            bottom: 70px;
            left: -35px;
            width: 368px;
            height: 180px;
            text-align: start;
            padding-left: 30px;
            padding-top: 40px;
            // padding-right: 30px;

            
            h3{
                font-family: 'DM Sans', sans-serif;
                font-weight: 700;
                font-size: 20px;  

                p{
                    font-family: 'DM Sans', sans-serif;
                    font-weight: 700;
                    color: #F94D1C;
                    font-size: 16px;
                    display: inline;
                }

            }
            #citat{
                font-family: 'Inter', sans-serif;
                font-weight: 400;
                font-style: italic;
                font-size: 16px;
                padding-right: 25px;
            }

        }
        .about-left{
            img{
                padding-left: 20px;
                max-width: 533px;
                max-height: 615px;
            }
        }
        .about-right{
            padding-left: 0px;
            display: grid;
            // padding: 0px 150px;
            @media (min-width:1200px) {
                padding-left: 100px;
                }
            .top{
                text-align: center;
                justify-content: center;
                padding: 0px 80px;
                @media (min-width:1200px) {
                    text-align: start;
                    padding: 50px;
                    }
                h2{
                    padding-bottom: 15px;
                    padding-right: 0px;
                    font-family: 'DM Sans', sans-serif;
                    font-size: 45px;
                    font-weight: 700;
                    @media (min-width:1200px) {
                        padding-right: 50px;
                        }
                }
                .paragraph{
                    p{
                        font-family: 'Inter', sans-serif;
                        font-size: 16px;
                        font-weight: 400;
    
                    }
                    #first{
                        padding-bottom: 15px;
                    }
                }
                #red{
                    color: #F94D1C;
                    font-family: 'Inter', sans-serif;
                    font-size: 18px;
                    font-weight: 500; 
                } 
            }
            .bottom{
                display: flex;
                align-items: center;
                text-align: center;
                padding: 0px 200px;
                padding-top: 50px;
                justify-content: space-between;

                @media (min-width:768px) {
                    padding: 5px 150px;
                    }
                @media (min-width:1200px) {
                    padding: 0px;
                    justify-content: start;
                    }

                .learn-more{
                    a{
                        padding: 10px 40px;
                    }
                    
                }
                .intro-video{
                    padding-left: 0px;
                    @media (min-width:1200px) {
                        padding-left: 30px;
                        }
                    &:hover{
                        .icon-border{
                            background-color: #000000;
                            color: #FFFFFF;
                        }
                    }
                    a{
                        text-decoration: none; 
                        color: #000000;
                        font-family: 'Inter', sans-serif;
                        font-size: 16px;
                        font-weight: 600;
                        padding: 10px;
                        i{
                            padding-left: 2px;
                            margin-right: 20px;
                        }

                    }
                }
            }
        }
    }
}
.services{
    background-color: #F0EFE9;
    position: relative;
    z-index: 0;
    .drawing-lines{
        position: absolute;
        bottom: 0;
        right: 0;
        z-index: -1;
    }
    .container{
        padding-top: 80px;
        padding-bottom: 100px;
        .top{
            text-align: center;
            @media (min-width:1200px) {
                text-align: start;
                }
            p{
                color: #F94D1C;
                font-family: 'Inter', sans-serif;
                font-size: 18px;
                font-weight: 500;
            }
            h2{
                font-family: 'DM Sans', sans-serif;
                font-size: 45px;
                font-weight: 700;
                padding-bottom: 35px;
            }
        }
        .middle{
            display: grid;
            grid-template-columns: 1fr 1fr;
            grid-template-rows: 1fr 1fr;
            gap: 20px;
            padding: 0px 80px;
            @media (min-width:1200px) {
                padding: 0px 0px;
                }

            @media (min-width:1200px) {
                grid-template-columns: repeat(4, 1fr);
                grid-template-rows: 1fr;
                }
            .slide{
                background-color: #ffffff;
                padding: 40px 30px;  
                margin: 0px 20px;
                transition: all 0.5s;
                
                &:hover{
                    background-color: #F9D783;
                    .circle-icon{
                        background: #ffffff;
                        color: #000000;
                        width: 40px;
                        height: 40px;
                        border-radius: 50%;
                        text-align: center;
                        line-height: 40px;
                        vertical-align: middle;
                        font-size: 20px;
                    }


                }
                i{
                    font-size: 20px;
                    padding-bottom: 15px;
                }
                h3{
                    padding-bottom: 10px;
                    font-family: 'DM Sans', sans-serif;
                    font-size: 22px;
                    font-weight: 700;
                }
                p{
                    font-family: 'Inter', sans-serif;
                    font-size: 16px;
                    font-weight: 400;
                }
            }
        }
        .bottom{
            text-align: center;
            padding-top: 55px;
            i{
                padding-left: 10px;
            }
        }
    }
}
.why-choose-us{
    margin-top: 70px;
    padding-bottom: 120px;
    .container{
        display: grid;
        @media (min-width:1200px) {
            grid-template-columns: 1fr 2fr;
            grid-template-areas: 1fr;
            }
        .wcu-left{
            text-align: center;
            h2{
                padding: 0px 100px;
                @media (min-width:1200px) {
                    padding: 0px 0px;;
                    }
            }
            @media (min-width:1200px) {
                text-align: start;
                }
                
            .wcu-list{
                display: grid;
                grid-template-columns: 1fr 1fr;
                padding: 30px 80px;
                @media (min-width:1200px) {
                        grid-template-columns: 1fr;
                        grid-template-areas: 1fr;
                        padding: 10px 0px;
                    }
                h3{
                    font-size: 22px;
                    font-family: 'DM Sans', sans-serif;
                    font-weight: 700;
                }
                p{
                    font-family: 'Inter', sans-serif;
                    font-size: 16px;
                    font-weight: 400; 
                }
                .icon-list{
                    display: flex;
                    padding-bottom: 5px;
                    justify-content: center;
                    align-items: center;
                    @media (min-width:1200px) {
                        justify-content: start;
                        align-items: normal;
                        }
                    i{
                        font-size: 20px;
                        background: none;
                        border: 1px solid #d3d2d2;
                        width: 50px;
                        height: 50px;
                        border-radius: 50%;
                        text-align: center;
                        line-height: 50px;
                        vertical-align: middle;
                        color: #000000;
                        margin-right: 25px;
                        margin-bottom: 50px;
                        display: none;
                        @media (min-width:1200px) {
                            display: block;
                            }
                    }
                }
            }
        }
        .wcu-right{
            display: none;
            position: relative;
            z-index: 0;
            @media (min-width:1200px) {
                display: block;
                }

            #wcu-image{
                margin-left: 215px;
            }                
            #bg{
                position: absolute;
                z-index: -1;
                bottom: 0;
                left: 0;
                margin-left: 100px;
                margin-bottom: 50px;

                
            }
        }
    }
}
.project-studies{

    .container{ 
        .title{
            text-align: center;
            margin-bottom: 50px;
        }
        .galleri{
            display: grid;
            grid-template-columns: 1fr;
            grid-template-rows: 1fr 1fr;
            gap: 25px;
            padding: 0px 80px;
            justify-content: center;
            align-items: center;
            @media (min-width:1200px) {
                grid-template-columns: 1fr 1fr;
                padding: 0px 0px;
                }
            .p-s-img{
                padding: 0px 50px;
                @media (min-width:1200px) {
                    padding: 0px 20px;
                    }
            }
            h3{
                border-bottom: 1px solid #DAD9D3;
                padding-bottom: 10px;
                margin-top: 30px;
                font-family: 'DM Sans', sans-serif;
                font-size: 22px;
                font-weight: 700;
            }
            a{
                justify-content: end;
                display: flex;
                margin-top: 30px;
                margin-bottom: 20px;
                font-family: 'Inter', sans-serif;
                font-size: 14px;
                font-weight: 500; 
                text-decoration: none;
                color: #000000;
            }
            i{
                padding-left: 5px;
                font-size: 16px;
            }

            #p-s-3{
                display: none;
                @media (min-width:1200px) {
                    display: block;
                    }
            }
            #p-s-4{
                display: none;
                @media (min-width:1200px) {
                    display: block;
                    }
            }
        
        }
        .p-s-buttom{
            display: flex;
            align-items: center;
            justify-content: center;
            margin-top: 60px;
            margin-bottom: 90px;
            a span {
                padding: 15px 40px;
            }
        }
    }
}
.team{
    background-color: #F9D783;
    padding-top: 70px;
    padding-bottom: 60px;
    .container{
        .team-top{
            display: grid;
            justify-content: center;
            align-items: center;
            margin-bottom: 50px;
            text-align: center;
            a span {
                padding: 15px 40px;
                font-size: 16px;
            }
            i{
                margin-left: 20px;
            }
            @media (min-width:1200px) {
                display: flex;
                text-align: start;
                justify-content: space-between;
                }
        }
        .team-middle{
            display: grid;
            grid-template-columns: 1fr 1fr;
            grid-template-rows: 1fr;
            justify-content: space-around;
            align-items: center;
            gap: 30px;
            margin-bottom: 50px;
            @media (min-width:1200px) {
                display: flex;
                }
            .team-member{
                justify-content: center;
                text-align: center;
                align-items: center;
                @media (min-width:1200px) {
                    justify-content: space-around;
                    text-align: start;
                    }
            }
            h3{
                margin-top: 30px;
                font-family: 'DM Sans', sans-serif;
                font-size: 22px;
                font-weight: 700;
            }
            p{
                font-family: 'Inter', sans-serif;
                font-size: 16px;
                font-weight: 500; 
            }
        }
        .team-bottom{
            display: flex;
            justify-content: center;
            align-items: center;
            margin-bottom: 20px;
            i{
                font-size: 12px;
                padding: 0px 6px;
                color: #33191919;
                transition: all 0.5s;
                cursor: pointer;

                &.active{
                    color: #191919;
                    &:hover{
                        color: #191919;
                    }
                }
                &:hover{
                    color: #707070;
                }
            }

        }
    }
}
.testimonial{ 
    background-color: #F9D783;
    padding-bottom: 0px;
    @media (min-width:1200px) {
        padding-bottom: 100px;
        }
    .container{
        background-color: #FFFFFF;
        padding-top: 130px;
        max-width: 1520px;
        .testimonial-top{
            display: flex;
            flex-direction: column;
            justify-content: center;
            align-items: center;
        }
        .testimonial-middle{
            display: flex;
            justify-content: center;
            align-items: center;
            gap: 40px;
            padding: 60px 100px;
            text-align: center;
            @media (min-width:1200px) {
                text-align: start;
                }
            .review-box{
                padding: 0px;
                @media (min-width:1200px) {
                    padding-right: 35px;
                    }
                .review-box-top{
                    display: grid;
                    i{
                        color: #F94D1C;
                    }
                    p{
                        padding: 20px 0px;
                        line-height: 35px;
                        font-family: 'Inter', sans-serif;
                        font-size: 18px;
                        font-weight: 600; 
                        font-style: italic;
                        @media (min-width:1200px) {
                            padding-right: 20px;
                            }
                    }
                }
                .review-box-bottom{
                    display: grid;
                    align-items: center;
                    justify-content: center;
                    gap: 5px;
                    img{
                        margin-right: 0px;
                    }
                    @media (min-width:1200px) {
                        display: flex;
                        justify-content: space-around;
                        }
                    h3{
                        font-family: 'DM Sans', sans-serif;
                        font-size: 22px;
                        font-weight: 700;
                        margin: 0;
                    }
                    p{
                        font-family: 'Inter', sans-serif;
                        font-size: 16px;
                        font-weight: 400; 
                        margin: 0;
                        display: none;
                        @media (min-width:1200px) {
                            display: block;
                            }
                    }
                }
            }
        }
        .testimonial-bottom{
            display: flex;
            justify-content: center;
            align-items: center;
            padding-top: 50px;
            padding-bottom: 120px;
            
            a{
                i{
                    margin-left: 20px;
                }
            }
            a span {
                padding: 15px 35px;
                font-size: 16px;
            }
        }
    }
}
.article-news{
    .container{
        padding-top: 50px;
        .article-news-top{
            display: grid;
            justify-content: center;
            align-items: center;
            margin-bottom: 10px;
            text-align: center;
            @media (min-width:1200px) {
                display: flex;
                text-align: start;
                justify-content: space-between;
                }
            i{
                margin-left: 20px;
            }
        }
        .article-news-middle{
            display: grid;
            position: relative;
            gap: 30px;
            padding: 50px 80px;
            padding-bottom: 50px;
            text-align: center;

            @media (min-width:1200px) {
                padding: 0px 0px;
                text-align: start;
                }
            #article2{
                display: none;
            }
            #article3{
                display: none;
            }

            @media (min-width:1200px) {
                display: flex;
                #article2{
                    display: block;
                }
                #article3{
                    display: block;
                }
  

                }
            article{
                display: flex;
                flex-direction: column;
                border-bottom: 1px solid #DAD9D3;
                a{
                    text-decoration: none;
                    color: #191919;
                }
                @media (min-width:1200px) {
                    border: none;
                    }
                
                p{
                    color: #6A6C71;
                    font-family: 'Inter', sans-serif;
                    font-size: 16px;
                    font-weight: 400; 
                    padding-top: 30px;
                    @media (min-width:1200px) {
                        padding-top: 0px;
                        }
                }
                h3{
                    font-family: 'DM Sans', sans-serif;
                    font-size: 22px;
                    font-weight: 700;
                }
                .date{
                    position: absolute;
                    padding: 20px;
                    text-align: center;
                    margin-left: 150px;
                    @media (min-width:576px){
                        margin-left: 0;
                    }
                    @media (min-width:992px){
                        margin-left: 180px;
                    }
                    @media (min-width:1200px){
                        margin-left: 0px;
                    }


                    div{
                        display: inline-block;
                        background-color: #F9D783;
                        padding: 12px 15px;
                        font-family: 'DM Sans', sans-serif;
                        font-size: 22px;
                        font-weight: 700;
                        line-height: 20px;

                        p{
                            font-family: 'Inter', sans-serif;
                            font-size: 16px;
                            font-weight: 500; 
                            margin: 0;
                        }
                    }
                    
                }
            }

        }
        .article-news-bottom{
            display: flex;
            justify-content: center;
            align-items: center;
            padding-bottom: 80px;
            padding-top: 50px;
            i{
                font-size: 12px;
                padding: 0px 6px;
                color: #33191919;
                transition: all 0.5s;
                cursor: pointer;

                &.active{
                    color: #191919;
                    &:hover{
                        color: #191919;
                    }
                }
                &:hover{
                    color: #707070;
                }
            }
        }
    }
}


.lets-connect{
    position: relative;
    padding: 150px 0px;
    background-color: #F0EFE9;
    display: flex;
    z-index: 0;
    img{
        position: absolute;
        bottom: 0;
        z-index: -1;
    }
    .container{
        display: flex;
        justify-content: center;
        align-items: center;
        font-size: 56px;
        font-family: 'DM Sans', sans-serif;
        font-weight: 700;
        
    }
}

.contact-page{
    .container{
        background-color: #FFFFFF;
        display: flex;
        justify-content: space-around;
        margin-bottom: 70px;
        .fullscreene{
            display: none;
            @media (min-width:1200px) {
                display: flex;
                }
            .box{
                border: 1px solid #DAD9D3;
                display: flex;
                margin-right: 20px;
                margin-top: 80px;
                justify-content: center;
                padding: 30px 100px;
                
    
                .icon{
                    margin-left: -50px;
                    margin-right: 30px;
                    margin-top: 15px;
                    background: #000000;
                    width: 40px;
                    height: 40px;
                    border-radius: 50%;
                    text-align: center;
                    line-height: 40px;
                    vertical-align: middle;
                }
                .info{
                    margin-top: 15px;
                }
                i{
                    color: #FFFFFF;
                }
                h3{
                    font-family: 'DM Sans', sans-serif;
                    font-size: 22px;
                    font-weight: 700;
                }
                p{
                    font-family: 'Inter', sans-serif;
                    font-size: 16px;
                    font-weight: 400;
                }
            }
        }
        .smallscreene{
            .box{
                display: flex;
                margin-top: 80px;
                justify-content: center;
                padding: 30px 100px;
                padding: 10px 10px;  
                @media (min-width:576px) {
                    a{
                        padding: 11px 30px;
                    }

                    }
                @media (min-width:1200px) {
                    display: none;
                    }
            }
        }
    }
}

.message-form{
    img{
        width: 100%;
        height: auto;
        display: inline-block;

    }
    .container{
        background-color: #F0EFE9;
        padding: 80px;
        margin-bottom: 70px;
        text-align: center;
        .btn-animation-div{
            width: 100%;
        }
        a{
            i{
                margin-left: 10px;
            }
        }
        h1{
            padding-bottom: 10px;
            font-family: 'DM Sans', sans-serif;
            font-size: 30px;
            font-weight: 700;
            text-align: center;
            @media (min-width:1200px) {
                font-size: 45px;
                }
        }
            form{
                display: grid;
                justify-content: center;
                @media (min-width:768px) {
                    justify-content: unset;
                    }
                input{
                    margin-bottom: 10px;
                    border: none;
                    padding: 10px 15px;
                    border-radius: 25px;
                    text-align: center;
                    @media (min-width:768px) {
                        text-align: start;
                        }
                }
                textarea{
                    margin-bottom: 10px;
                    resize: none;
                    padding: 10px 15px;
                    border-radius: 25px;
                    border: none;
                    margin-bottom: 50px;
                    text-align: center;
                    @media (min-width:768px) {
                        text-align: start;
                        }
                }
            }
    }
}

.newsletter{
    background-color: #F0EFE9;
    position: relative;
    z-index: 0;
    .drawing-lines{
        position: absolute;
        z-index: -1;
        bottom: 0;
        right: 0;
        margin-bottom: 30px;
    }
    .container{
        display: flex;
        justify-content: space-between;
        align-items: center;
        height: 270px;
        padding: 0px 50px;
        .subscribe{
            display: grid;
            align-items: center;
            justify-content: space-around;
            gap: 20px;
            .buttonyellow-animation{
                padding: 0px 0px;
            }
            @media (min-width:1200px) {
                margin-left: 150px;
                display: flex;
                }

            input{
                border-radius: 30px;
                border: none;
                font-size: 16px;
                padding: 14px 30px;
                box-shadow: 0px 6px 24px 0px rgba(0, 0, 0, 0.2);
                @media (min-width:1200px) {
                    padding: 14px 40px;
                    }
            }
        }
        h2{
            font-size: 20px;
            font-family: 'DM Sans', sans-serif;
            font-size: 35px;
            font-weight: 700;
            margin: 0;
            padding: 0px 50px;
            @media (min-width:1200px) {
                font-size: 45px;
                padding: 0px 0px;
                }
        }
    }
}

footer{ 
    background-color: #0E1021;
    position: relative;
    z-index: 0;
    padding: 0px 50px;
    @media (min-width:1200px) {
        padding: 0px 0px;
        }

    .drawing-lines{
        position: absolute;
        z-index: -1;
        bottom: 0;
        right: 0;
    }
    .container{
        color: #707070;
    .top-footer{
        padding: 100px 0px;
        display: grid;
        grid-template-columns: 1fr;
        @media (min-width:1200px) {
            grid-template-columns: 1fr 4fr;
            }
        .footer-top-right{
            display: none;
            @media (min-width:1200px) {
                display: block;
                }
            img{
                padding-bottom: 25px;
            }
            p{
                color: #FFFFFF;
                font-family: 'Inter', sans-serif;
                font-size: 16px;
                font-weight: 400; 
                // padding-right: 120px;
                line-height: 33px;
            }
        }

        .menybar-footer{
            display: flex;
            justify-content: space-around;
            align-items: center;
            .menybar-dropdown{
            display: flex;
            flex-direction: column;
            h4{
                color: #FFFFFF;
                margin-bottom: 35px;
            }
            a{
                color: #707070;
                text-decoration: none;
                font-family: 'Inter', sans-serif;
                font-size: 16px;
                font-weight: 400; 
                padding: 10px 0px;
            }
            }
        }
    }
    .bottom-footer{
        display: flex;
        justify-content: space-between;
        align-items: center;
        text-align: center;
        padding: 20px 0px;
        p{
            margin: 0px;
        }
        .social-footer{
            a{
                text-decoration: none;
                margin-right: 25px;
                color: #FFFFFF;
                text-align: center;
            }
            
        }
    }
    }
    .border-out{
        border: 0.5px solid #707070;
    }
}

.placeholder{
    .container{
        background: rgb(211, 15, 15);
        height: 100vh;
        width: auto;
        display: flex;
        .rick{
            display: flex;
            justify-content: center;
            video {
                width: 100%;
                height: auto;
                display: block;
                margin: 0 auto;
                
              }
            }

        }
    }
